*{
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

button{
  
  border-radius: 5px;
}

body{
  background-color:white;
  color: black;
}



main{
  min-height:  90vh;
  max-width: 1200px;
  margin: auto; 
  padding: 10px;
}